.App {
  height: 90%;
}

.App-footer {
  background-color: #030522;
  color: #ddd;
  box-shadow: 0 50vh 0 50vh #030522;
  font-size: 0.9em;
  padding-top: 8px;
}

.App-header {
  padding: 20px;
  background-color: #030522;
  color: #ddd;
}

.App-header h1 {
  margin: 0;
  font-size: 1.5em;
}

.App-header code {
  float: right;
}

.App-row {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.App-learn {
  height: 100%;
  padding: 20px;
  overflow-y: scroll;
}

.App-col {
  flex: 1;
  width: 50%;
  flex-basis: 500px;
  min-height: 500px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-col-editor {
  overflow: hidden;
}

.App-game {
  background-color: #fff;
  text-align: center;
  min-height: 500px;
}

.App-col-game {
}

.App-game-logs {
  min-height: 300px;
  width: 100%;
  color: #eee;
  bottom: 0;
  background-color: #24282a;
  overflow-y: scroll;
}

.App-game-logs-header {
  background-color: #141618;
  font-family: monospace;
  padding: 10px;
}

.App-game-logs-console {
  padding-left: 20px;
  padding-right: 20px;
}

.App-col-header-light {
  background-color: #eee;
}

.App-col-header-dark {
  background-color: #111;
}

.App-col-header {
  padding: 5px;
}

.App-col-header p {
  margin: 10px;
  display: inline-block;
  padding: 0.4em;
  font-size: 1em;
  line-height: 0;
}

button {
  font-size: 1em;
  display: inline-block;
  border: thin solid #aaa;
  border-radius: 10px;
  margin: 10px;
  padding: 0.4em;
  cursor: pointer;
  text-align: center;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  background-color: inherit;
}

button:hover,
button:focus {
  opacity: 0.8;
}

.light {
  color: #eee;
}
